.contact-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
    color: #333;
  }
  
  .contact-section h2 {
    font-size: 2rem;
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  .contact-section p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #555;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }

  .contact-left {
    flex: 1;
  }

  .contact-right {
    flex: 1;
  }
  
  .contact-left img {
    max-width: 75%;
    border-radius: 10px;
    flex: 1
  }
  
  .contact-right form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .form-group {
    margin: 20px;
    text-align: left;
  }
  
  .form-group label {
    font-size: 1rem;
    color: #007BFF;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #005792;
  }
  
  .contact-info {
    margin-top: 40px;
    text-align: center;
  }
  
  .contact-info .logo img {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .contact-info .info h3 {
    font-size: 1.5rem;
    color: #005792;
    margin-bottom: 10px;
  }
  
  .contact-info .info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
  }
  